<template>
  <Comp1 v-if="config.template === 1" :config="config" />
</template>

<script>
import Comp1 from '/components/History/style1.vue'

export default {
  props: {
    config: {
      type: Object,
    },
  },
  components: {
    Comp1,
  },
}
</script>