<template>
  <Comp1 />
</template>

<script>
import Comp1 from '/components/Test/style1.vue'

export default {
  props: {
    config: {
      type: Object,
    },
  },
  components: {
    Comp1,
  },
}
</script>