<template>
  <div>
    <Comp1 v-if="config.template === 1" :config="config" />
  </div>
</template>

<script>
import Comp1 from '/components/Download/style1.vue'

export default {
  props: {
    config: {
      type: Object,
      default: null,
    },
  },
  mounted() {
    // console.log(this.config)
  },
  components: {
    Comp1,
  },
}
</script>