<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'information'+config.id">
    <!-- 只能用背景色 -->
    <div class="bg"></div>
    <div class="main_title">
      <div class="title" style="color:{acad01-template-07-title-color}">最新消息</div>
      <p style="color:{acad01-template-07-title2-color}">News</p>
    </div>
    <div class="big_wrap">
      <a class="text_wrap" href="javascript:void(0)" v-for="(item ,key ) in 3 " :key="key">
        <!-- 圖片size 320*185 -->
        <div class="img_item">
          <img class="img" :src="img" />
        </div>
        <div class="type">活動 Activity.</div>
        <div class="text_item">
          <div class="date">11.20 2020</div>
          <div class="title">台中歌劇院開幕儀式</div>
        </div>
      </a>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },

  data() {
    return {
      img: require('@/assets/img/information/information02_img.png'),
      isActive: false,
      isPaActive: false,
      // 輪播設定
    }
  },
  methods: {
    init() {},
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#information' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#information' + this.config.id + ' .top',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#information' + this.config.id + ' .bottom',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
        .fromTo(
          '#information' + this.config.id + ' .swiper_m_wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>
<style lang="scss" scoped>
$main: #341d74;
$font-color: #ffffff;
$bg-color: #ffffff;
.container {
  position: relative;
  width: 100%;
  height: 57.03125vw;
  padding: 8.03vw 16.67vw;
  font-family: 'Heebo', sans-serif;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $bg-color;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 16.61vw;
    left: 50%;
    top: 0;
    left: 32.5vw;
    background: #c9c9c8;
    z-index: 1;
  }
  .main_title {
    position: relative;
    max-width: 50%;
    margin-bottom: 2.5vw;
    .title {
      margin-bottom: 20px;
      font-size: calc(24 / 1920 * 100vw);
      font-weight: bold;
      letter-spacing: 1.8px;
      color: #161616;
      line-height: 1.15;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
    p {
      font-size: calc(72 / 1920 * 100vw);
      font-weight: bold;
      color: #ea260c;
      line-height: 1.15;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
  }
  .big_wrap {
    position: relative;
    width: 100%;
    .text_wrap {
      position: relative;
      width: 100%;
      height: 9.635vw;
      padding-top: 22px;
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        position: absolute;
        width: calc(85% - 19.74vw);
        height: 1px;
        left: 0;
        top: 0;
        background: #161616;
      }
      &:after {
        content: '';
        position: absolute;
        width: calc(100% - 19.74vw);
        height: 1px;
        left: 0;
        top: 0;
        background: #e8e8e8;
      }
      .img_item {
        position: relative;
        width: 16.67vw;
        height: 9.634vw;
        right: 0;
        top: -1.04vw;
        overflow: hidden;
        order: 3;
        &:hover {
          .img {
            transform: scale(1.2);
            transition: all 0.8s ease;
          }
        }
        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transform: scale(1);
          transition: all 0.8s ease;
        }
      }
      .type {
        position: relative;
        width: 15.98vw;
        padding-right: 5%;
        margin-top: 0;
        font-size: calc(16 / 1920 * 100vw);
        font-weight: bold;
        color: #161616;
        line-height: 1.15;
        overflow: hidden;
        word-break: break-all;
        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 8.02vw;
          top: -1.09375vw;
          right: 2px;
          background: #c9c9c8;
        }
      }
      .text_item {
        position: relative;
        width: calc(100% - 33.85vw);
        padding-left: 4px;
        padding-right: 5.2vw;
        .date {
          padding-left: 0;
          position: relative;
          font-size: calc(16 / 1920 * 100vw);
          font-weight: bold;
          color: #ea260c;
          display: block;
          margin-bottom: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
        }
        .title {
          font-size: calc(24 / 1920 * 100vw);
          font-weight: bold;
          color: #161616;
          -webkit-box-orient: vertical;
          transition: all 0.3s ease;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          word-break: break-all;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .container {
    &::after {
      height: 17.01vw;
    }
    .big_wrap {
      .text_wrap {
        .type {
          &::after {
            top: -22px;
            right: 1px;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    height: 75vh;
    padding: 11.72vw 7.17vw;
    &::after {
      display: none;
    }
    .main_title {
      .title {
        font-size: calc(24 / 1100 * 100vw);
      }
      p {
        font-size: calc(72 / 1100 * 100vw);
      }
    }
    .big_wrap {
      .text_wrap {
        height: 18.49vw;
        padding-top: 22px;
        margin-bottom: 30px;
        &:before {
          width: 100%;
        }
        &::after {
          display: none;
        }
        &:last-child {
          margin-bottom: 0;
        }

        .img_item {
          width: 31.67vw;
          height: 100%;
          top: 0;
        }
        .type {
          font-size: calc(16 / 1100 * 100vw);
          &::after {
            top: -21px;
            height: 13.2vw;
          }
        }
        .text_item {
          padding-left: 10px;
          .date {
            font-size: calc(16 / 1100 * 100vw);
          }
          .title {
            font-size: calc(24 / 1100 * 100vw);
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    height: auto;
    padding: 50px 37px;
    .main_title {
      .title {
        margin-bottom: 12px;
        font-size: 16px;
      }
      p {
        font-size: 36px;
      }
    }
    .big_wrap {
      .text_wrap {
        height: 115px;
        padding-top: 22px;
        margin-bottom: 30px;
        display: block;
        &:before {
          width: 100%;
        }
        &::after {
          display: none;
        }
        &:last-child {
          margin-bottom: 0;
        }

        .img_item {
          position: absolute;
          width: 38.67vw;
          height: auto;
        }
        .type {
          width: 50%;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;

          &::after {
            display: none;
          }
        }
        .text_item {
          width: 50%;
          padding: 0;
          line-height: 1.5;
          .date {
            margin-bottom: 5px;
            font-size: 14px;
          }
          .title {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 100vw;
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>