<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'carousel'+config.id">
    <div v-swiper:mySwiper="swiperOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(item,index) in 3" :key="index">
          <!-- 背景1920*850 -->
          <img class="bg" :src="img" />
          <!-- 手機背景700*1200 -->
          <img class="mobile_bg" :src="mobile_img" />
          <div class="text_wrap">
            <div class="title">創造無限可能</div>
            <div class="content">
              Tool Changer
              <br />Build the
              <br />Perfect
              <br />Accuracy
            </div>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur
              <br />adipisicing elit.
            </p>
            <div class="box">
              <p>顯示項目</p>
              <a class="icon" href="javascript:vold(0)"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" :class="{ active: isPaActive }"></div>
      <div class="navigation" :class="{ active: isActive }">
        <div class="item">
          <div class="button-prev btn"></div>
        </div>
        <div class="item">
          <div class="button-next btn"></div>
        </div>
      </div>
    </div>

    <div class="scroll_down" @click="clickScroll()">
      <p>scroll down</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: require('@/assets/img/carousel/carousel01_bg.png'),
      mobile_img: 'https://picsum.photos/700/1200/?random=1',
      isActive: false,
      isPaActive: false,
      // 輪播設定
      swiperOption: {
        navigation: {
          nextEl: '#carousel' + this.config.id + ' .button-next',
          prevEl: '#carousel' + this.config.id + ' .button-prev',
          clickable: true,
        },
        pagination: {
          el: '#carousel' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        speed: 1000,
        // autoplay: {
        //   delay: 3000,
        // },
        breakpoints: {
          0: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
          700: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
          1500: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
        },
      },
    }
  },

  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2
        ? ((this.isActive = true), (this.isPaActive = true))
        : ((this.isActive = false), (this.isPaActive = false))
    },

    clickScroll() {
      let win_width = window.innerWidth
      window.scroll({
        top: win_width * 0.7,
        behavior: 'smooth',
      })
    },
  },
  mounted() {
    this.init()
  },
}
</script>

<style lang="scss" scoped>
$black: #000000;
$white: #ffffff;
.container {
  position: relative;
  height: 100vh;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  // 背景
  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1.8s ease;
    transform: scale(1.2);
    opacity: 0;
  }
  // 手機背景
  .mobile_bg {
    display: none;
  }

  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    cursor: pointer;
  }
  .swiper-slide-active {
    .text_wrap {
      .title {
        transition: 0.9s ease;
        transform: translateY(0);
        opacity: 1;
      }
      .content {
        transition: 1.2s ease;
        transform: translateY(0);
        opacity: 1;
      }
      .text {
        transition: 1.5s ease;
        transform: translateY(0);
        opacity: 1;
      }
      .box {
        transition: 1.8s ease;
        transform: translateY(0);
        opacity: 1;
      }
    }
    .bg {
      transition: 1.8s ease;
      transform: scale(1);
      opacity: 1;
    }
    .mobile_bg {
      transition: 1.8s ease;
      transform: scale(1);
      opacity: 1;
    }
  }
  .text_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 6.77vw 13.33vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title {
      width: 40%;
      margin-bottom: 1.0416vw;
      font-size: calc(20 / 1920 * 100vw);
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.15;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: break-all;
      transition: 0.9s ease;
      transform: translateY(150px);
      opacity: 0;
    }
    .content {
      width: 40%;
      margin-bottom: 1.37vw;
      font-size: calc(70 / 1920 * 100vw);
      font-weight: 700;
      color: #341d74;
      line-height: 1.15;
      letter-spacing: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: break-all;
      transition: 1.2s ease;
      transform: translateY(150px);
      opacity: 0;
    }
    .text {
      width: 25%;
      margin-bottom: 2.37vw;
      font-size: calc(16 / 1920 * 100vw);
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: break-all;
      transition: 1.5s ease;
      transform: translateY(150px);
      opacity: 0;
    }
    .box {
      display: flex;
      align-items: center;
      transition: 1.8s ease;
      transform: translateY(150px);
      opacity: 0;
      p {
        font-size: calc(24 / 1920 * 100vw);
        font-weight: 700;
        letter-spacing: 1.2px;
      }
      .icon {
        width: 1.5625vw;
        height: 1.25vw;
        margin-left: 2.23vw;
        -webkit-mask: url('~assets/img/arrow.svg') no-repeat;
        -webkit-mask-size: contain;
        background: $black;
      }
    }
  }

  // 按鈕
  .navigation {
    position: absolute;
    bottom: 5.302vw;
    left: 13.03vw;
    display: flex;
    align-items: center;
    z-index: 2;
    &.active {
      display: none;
    }
    .line {
      position: absolute;
      width: 80%;
      height: 2px;
      left: 0;
      background: #787777;
    }
    .item {
      .btn {
        position: relative;
        -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        width: 1.041vw;
        height: 1.041vw;
        background: $black;
        pointer-events: initial;
        transition: 0.5s ease;
        cursor: pointer;
        outline: none;
        &.swiper-button-disabled {
          background: $black;
          pointer-events: none;
          cursor: auto;
          opacity: 0.5;
        }
      }
      .button-prev {
        transform: rotate(180deg);
      }
      .button-next {
        margin-left: 3.38vw;
      }
    }
  }
  .pagination {
    display: none;
  }

  .scroll_down {
    position: absolute;
    bottom: 3.5vw;
    left: calc(90 / 1920 * 100vw);
    display: flex;
    align-items: center;
    transform-origin: 0 100%;
    transform: rotate(-90deg) translateY(100%);
    z-index: 3;
    cursor: pointer;
    &:before {
      content: '';
      width: 1.823vw;
      min-width: 20px;
      height: 2px;
      display: block;
      background: $black;
      border-radius: 50%;
    }
    &:hover {
      p {
        letter-spacing: 2px;
        transition: 0.5s;
      }
    }
    p {
      margin-left: 0.60625vw;
      font-size: calc(16 / 1920 * 100vw);
      font-weight: 700;
      color: $black;
      letter-spacing: 0.8px;
      transition: 0.5s;
    }
  }
}
@media (max-width: 1500px) {
  .container {
    .text_wrap {
      padding: 14.77vw 13.33vw 0;
    }

    .pagination {
      bottom: 11.302vw;
    }
    .navigation {
      bottom: 12.302vw;
    }
  }
}
@media (max-width: 1100px) {
  .container {
    height: 55vh;

    .swiper-container {
      height: 100%;
    }
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      cursor: pointer;
    }

    .text_wrap {
      padding: 12.77vw calc(55 / 768 * 100vw) 0;
      .title {
        font-size: calc(20 / 1100 * 100vw);
        margin-bottom: 2.0416vw;
      }
      .content {
        width: 50%;
        font-size: calc(56 / 1100 * 100vw);
        margin-bottom: 1.37vw;
      }
      .text {
        width: 50%;
        margin-bottom: 3.37vw;
        font-size: calc(20 / 1100 * 100vw);
      }
      .box {
        p {
          font-size: calc(24 / 1100 * 100vw);
        }
        .icon {
          width: 2.75vw;
          height: 2.25vw;
          margin-left: 2.23vw;
        }
      }
    }

    .navigation {
      left: calc(55 / 768 * 100vw);
      bottom: 10.302vw;
      .item {
        .btn {
          width: 2.041vw;
          height: 2.041vw;
        }
      }
    }
    .scroll_down {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: 100vh;
    .bg {
      display: none;
    }
    .mobile_bg {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      transition: 1.8s ease;
      transform: scale(1.2);
      opacity: 0;
    }

    .text_wrap {
      padding: 65.77vw 40px 0;
      .title {
        margin-bottom: 4.0416vw;
        font-size: 14px;
      }
      .content {
        width: 100%;
        margin-bottom: 3.37vw;
        font-size: 32px;
      }
      .text {
        width: 100%;
        margin-bottom: 11.37vw;
        font-size: 16px;
        br {
          display: none;
        }
      }
      .box {
        p {
          font-size: 16px;
        }
        .icon {
          width: 24px;
          height: 20px;
          margin-left: 25px;
        }
      }
    }

    .pagination {
      position: absolute;
      width: auto;
      left: 40px;
      bottom: 25.302vw;
      display: block;
      z-index: 1;
      &.active {
        display: none;
      }
      /deep/ .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border: 1px solid #000000;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;

        &:first-child {
          margin: 0 10px 0 0;
        }
        &.swiper-pagination-bullet-active {
          background: #000000;
        }
      }
    }

    .navigation {
      display: none;
    }
    .scroll_down {
      display: none;
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 100vh;
  }
}
@media (width: 1366px) and (orientation: landscape) {
  .container {
    .navigation {
      bottom: 8.302vw;
    }
  }
}
</style>