<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'partner'+config.id">
    <!-- 背景1920*530 -->
    <img class="bg" :src="img" />
    <!-- 手機背景700*1200 -->
    <img class="mobile_bg" :src="mobile_img" />
    <div class="left">
      <div class="box">
        <div class="title">創造無限可能</div>
        <p>合作夥伴</p>
      </div>

      <div class="navigation" :class="{ active: isActive }">
        <div class="item">
          <div class="button-prev btn"></div>
        </div>
        <div class="item">
          <div class="button-next btn"></div>
        </div>
      </div>
    </div>
    <div class="right">
      <div v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper" :class="{ center: isWrapActive }">
          <div class="swiper-slide" v-for="(item,index) in imgItem" :key="index">
            <img class="img" :src="item.img" />
          </div>
        </div>
        <div class="pagination" :class="{ active: isPaActive }"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: 'https://picsum.photos/1920/515/?random=1',
      mobile_img: 'https://picsum.photos/700/1200/?random=1',
      imgItem: [
        {
          url: '/about',
          img: require('@/assets/img/partner/partner01_img1.png'),
          title: 'Home',
        },
        {
          url: '/projects',
          img: require('@/assets/img/partner/partner01_img2.png'),
          title: 'Projects',
        },
        {
          url: '/contact',
          img: require('@/assets/img/partner/partner01_img3.png'),
          title: 'Contact',
        },
        {
          url: '/contact',
          img: require('@/assets/img/partner/partner01_img4.png'),
          title: 'Contact',
        },
        {
          url: '/contact',
          img: require('@/assets/img/partner/partner01_img5.png'),
          title: 'Contact',
        },
        {
          url: '/contact',
          img: require('@/assets/img/partner/partner01_img6.png'),
          title: 'Contact',
        },
        {
          url: '/contact',
          img: require('@/assets/img/partner/partner01_img7.png'),
          title: 'Contact',
        },
        {
          url: '/contact',
          img: require('@/assets/img/partner/partner01_img1.png'),
          title: 'Contact',
        },
      ],
      isActive: false,
      isPaActive: false,
      isWrapActive: false,
      // 輪播設定
      swiperOption: {
        navigation: {
          nextEl: '#partner' + this.config.id + ' .button-next',
          prevEl: '#partner' + this.config.id + ' .button-prev',
          clickable: true,
        },
        pagination: {
          el: '#partner' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        speed: 1000,
        // autoplay: {
        //   delay: 3000,
        // },
        breakpoints: {
          0: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          700: {
            slidesPerView: 4,
            spaceBetween: 20,
          },
          1100: {
            slidesPerView: 5,
            spaceBetween: 20,
          },
          1500: {
            slidesPerView: 7,
            spaceBetween: 0,
          },
        },
      },
    }
  },

  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      let win_width = window.innerWidth
      if (lengths < 8 && win_width > 1500) {
        this.isActive = true
        this.isWrapActive = true
      } else if (lengths < 6 && win_width > 1100) {
        this.isActive = true
        this.isWrapActive = true
      } else if (lengths < 5 && win_width > 700) {
        this.isPaActive = true
        this.isWrapActive = true
      } else if (lengths < 3 && win_width < 700) {
        this.isPaActive = true
        this.isWrapActive = true
      } else {
        this.isPaActive = false
        this.isActive = false
        this.isWrapActive = false
      }
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#partner' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#partner' + this.config.id + ' .box',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#partner' + this.config.id + ' .navigation',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#partner' + this.config.id + ' .right',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
$white: #fff;
.container {
  position: relative;
  height: 27.76vw;
  padding: 0 15.48vw 0 13.33vw;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background: #000000;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    // display: none;
  }
  .mobile_bg {
    display: none;
  }
  .left {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8.69vw 0 0 0;
    .box {
      display: flex;
      align-self: flex-start;
      flex-direction: column;

      .title {
        margin-bottom: 1.5625vw;
        font-size: calc(20 / 1920 * 100vw);
        font-weight: bold;
        color: $white;
        letter-spacing: 1px;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      p {
        font-size: calc(36 / 1920 * 100vw);
        letter-spacing: 1.8px;
        font-weight: bold;
        color: $white;
        text-align: left;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
  }
  .right {
    position: relative;
    width: 100%;
    padding: 5.729vw 0 0 0;
    .swiper-wrapper {
      align-items: center;
      &.center {
        justify-content: center;
      }
    }
    .swiper-slide {
      cursor: pointer;
      text-align: center;
    }
    .img {
      width: 2.60625vw;
      height: 100%;
    }
  }
  // 按鈕
  .navigation {
    position: absolute;
    display: flex;
    align-items: center;
    top: 11.77vw;
    right: 13.33vw;
    cursor: pointer;
    z-index: 2;
    &.active {
      display: none;
    }
    .line {
      position: absolute;
      width: 80%;
      height: 2px;
      left: 0;
      background: #787777;
    }
    .item {
      .btn {
        position: relative;
        -webkit-mask: url('./assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        background: $white;
        width: 1.041vw;
        height: 1.041vw;
        pointer-events: initial;
        transition: 0.5s ease;
        cursor: pointer;
        outline: none;

        &.swiper-button-disabled {
          background: #aaaaaa;
          pointer-events: none;
          cursor: auto;
        }
      }
      .button-prev {
        transform: rotate(180deg);
      }
      .button-next {
        margin-left: 3.38vw;
      }
    }
  }
  .pagination {
    display: none;
  }
}
@media (max-width: 1500px) {
  .container {
    .left {
      .box {
        .title {
          margin-bottom: 1.5625vw;
        }
        p {
          font-size: calc(36 / 1920 * 100vw);
        }
      }
    }
    .right {
      padding: 5.729vw 0 0 0;
      .img {
        width: 3.60625vw;
        height: 100%;
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    height: 35vh;
    flex-direction: column;
    padding: 0 calc(55 / 768 * 100vw);
    .left {
      width: 50%;
      position: absolute;
      .box {
        .title {
          font-size: calc(20 / 1100 * 100vw);
        }
        p {
          font-size: calc(37 / 1100 * 100vw);
        }
      }
    }
    .right {
      width: 100%;
      height: 100%;
      padding: 12.33vw 0 0 0;
      &::before {
        left: -6.00625vw;
        top: 22.28vw;
      }
      .swiper-container {
        height: 100%;
      }
      .swiper-slide {
        height: auto;
      }
      .img {
        width: 7.08vw;
      }
    }
    .navigation {
      display: none;
    }
    .pagination {
      position: absolute;
      width: auto;
      height: auto;
      right: 0;
      left: auto;
      top: 0;
      bottom: auto;
      display: block;

      &.active {
        display: none;
      }
      /deep/ .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: transparent;
        border: 2px solid $white;
        &.swiper-pagination-bullet-active {
          background: $white;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: 400px;
    flex-direction: column;
    padding: 0 40px;
    overflow: hidden;
    .bg {
      display: none;
    }
    .mobile_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
      z-index: -1;
      //   display: block;
    }
    .left {
      width: 80%;
      padding: 11.07vw 0 0 0;
      .box {
        .title {
          margin-bottom: 3.5625vw;
          font-size: 14px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .right {
      width: 100%;
      padding: 0;

      .img {
        width: 15vw;
      }
    }
    .navigation {
      display: none;
    }
    .pagination {
      position: absolute;
      width: 100%;
      top: auto;
      bottom: 6vh;
      right: auto;
      display: flex;
      justify-content: center;
      &.active {
        display: none;
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 50vh;
    .right {
      .img {
        width: 5.08vw;
      }
    }
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>