html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.inpage_nav .has_dropmenu .more:before,
.inpage_lightbox .mid .close,
.inpage_lightbox .mid .box form button div {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../../images/new/layout/inpage_iconset.svg");
}
.icon-1:before {
  background-position: 0% 0;
}
.icon-2:before {
  background-position: 2.04% 0;
}
.icon-3:before {
  background-position: 4.08% 0;
}
.icon-4:before {
  background-position: 6.12% 0;
}
.icon-5:before {
  background-position: 8.16% 0;
}
.icon-6:before {
  background-position: 10.2% 0;
}
.icon-7:before {
  background-position: 12.24% 0;
}
.icon-8:before {
  background-position: 14.29% 0;
}
.icon-9:before {
  background-position: 16.33% 0;
}
.icon-10:before {
  background-position: 18.37% 0;
}
.icon-11:before {
  background-position: 20.41% 0;
}
.icon-12:before {
  background-position: 22.45% 0;
}
.icon-13:before {
  background-position: 24.49% 0;
}
.icon-14:before {
  background-position: 26.53% 0;
}
.icon-15:before {
  background-position: 28.57% 0;
}
.icon-16:before {
  background-position: 30.61% 0;
}
.icon-17:before {
  background-position: 32.65% 0;
}
.icon-18:before {
  background-position: 34.69% 0;
}
.icon-19:before {
  background-position: 36.73% 0;
}
.icon-20:before {
  background-position: 38.78% 0;
}
.icon-21:before {
  background-position: 40.82% 0;
}
.icon-22:before {
  background-position: 42.86% 0;
}
.icon-23:before {
  background-position: 44.9% 0;
}
.icon-24:before {
  background-position: 46.94% 0;
}
.icon-25:before {
  background-position: 48.98% 0;
}
.icon-26:before {
  background-position: 51.02% 0;
}
.icon-27:before {
  background-position: 53.06% 0;
}
.icon-28:before {
  background-position: 55.1% 0;
}
.icon-29:before {
  background-position: 57.14% 0;
}
.icon-30:before {
  background-position: 59.18% 0;
}
.icon-31:before {
  background-position: 61.22% 0;
}
.icon-32:before {
  background-position: 63.27% 0;
}
.icon-33:before {
  background-position: 65.31% 0;
}
.icon-34:before {
  background-position: 67.35% 0;
}
.icon-35:before {
  background-position: 69.39% 0;
}
.icon-36:before {
  background-position: 71.43% 0;
}
.icon-37:before {
  background-position: 73.47% 0;
}
.icon-38:before {
  background-position: 75.51% 0;
}
.icon-39:before {
  background-position: 77.55% 0;
}
.icon-40:before {
  background-position: 79.59% 0;
}
.icon-41:before {
  background-position: 81.63% 0;
}
.icon-42:before {
  background-position: 83.67% 0;
}
.icon-43:before {
  background-position: 85.71% 0;
}
.icon-44:before {
  background-position: 87.76% 0;
}
.icon-45:before {
  background-position: 89.8% 0;
}
.icon-46:before {
  background-position: 91.84% 0;
}
.icon-47:before {
  background-position: 93.88% 0;
}
.icon-48:before {
  background-position: 95.92% 0;
}
.icon-49:before {
  background-position: 97.96% 0;
}
.icon-50:before {
  background-position: 100% 0;
}
.fz-A,
.fz-B,
.fz-C,
.fz-D {
  font-weight: bold;
  line-height: 1.125em;
  font-family: var(--font-family-title);
}
.fz-A {
  font-size: 24px;
}
@media (min-width: 1380px) {
  .fz-A {
    font-size: 1.875vw;
  }
}
.fz-B {
  font-size: 22px;
}
@media (min-width: 1380px) {
  .fz-B {
    font-size: 1.5625vw;
  }
}
.fz-C {
  font-size: 16px;
}
@media (min-width: 1500px) {
  .fz-C {
    font-size: 17px;
  }
}
@media (min-width: 1800px) {
  .fz-C {
    font-size: 18px;
    font-size: 0.9375vw;
  }
}
.fz-D {
  font-size: 16px;
}
@media (min-width: 1800px) {
  .fz-D {
    font-size: 0.8333vw;
  }
}
.en {
  font-family: var(--font-family-en);
}
.inpage-header {
  transition: all 0.35s ease;
}
.inpage-header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 calc(var(--pd-inside-xs) / 2);
  height: var(--height-nav-xs);
  transition: all 0.35s ease;
}
@media (min-width: 0) and (max-width: 739px) {
  .inpage-header .header {
    padding: 0 calc(var(--pd-inside-xs) / 2);
  }
}
@media (min-width: 740px) {
  .inpage-header .header {
    height: var(--height-nav-md);
    min-height: var(--height-nav-mini-md);
  }
}
@media (min-width: 740px) and (max-width: 979px) {
  .inpage-header .header {
    padding: 0 calc(var(--pd-inside-md) / 2);
  }
}
@media (min-width: 980px) {
  .inpage-header .header {
    padding: 0 var(--pd-lg);
  }
}
@media (min-width: 0) and (max-width: 979px) {
  .mini-header .inpage-header .header {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@media (min-width: 740px) {
  .mini-header .inpage-header .header {
    height: var(--height-nav-mini-md);
  }
}
@media (min-width: 1500px) {
  .mini-header .inpage-header .header {
    height: var(--height-nav-mini-xxl);
  }
}
.inpage-header .top_block {
  display: flex;
  align-items: center;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .top_block {
    width: auto;
    justify-content: flex-end;
    position: absolute;
    right: var(--height-nav-xs);
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .inpage-header .top_block {
    right: calc(var(--height-nav-xs) + var(--pd-md));
  }
}
@media (min-width: 1100px) {
  .inpage-header .top_block {
    position: absolute;
    right: var(--pd-lg);
  }
}
.inpage-header .top_block svg {
  max-width: 60px;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .top_block .lang {
    display: none !important;
  }
}
@media (min-width: 1100px) {
  .mini-header .inpage-header .logo img {
    height: calc(var(--height-logo) * 0.8);
  }
}
@media (min-width: 1100px) {
  .mini-header .inpage-header .top_block .lang .lang-toggle,
  .mini-header .inpage-header .lang .lang-toggle {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  .mini-header .inpage-header .top_block .lang .lang-toggle,
  .mini-header .inpage-header .lang .lang-toggle {
    font-size: 15px;
  }
}
@media (min-width: 1800px) {
  .mini-header .inpage-header .top_block .lang .lang-toggle,
  .mini-header .inpage-header .lang .lang-toggle {
    width: 120px;
    font-size: 18px;
  }
}
.inpage-header .logo img {
  display: block;
  width: auto;
  transition: all 0.35s ease;
}
@media (min-width: 1100px) {
  .inpage-header .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.inpage-header .btn_search,
.inpage-header .btn_cart,
.inpage-header .btn_login {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
  width: calc(var(--height-nav-xs) - 20px);
  height: calc(var(--height-nav-xs) - 20px);
  border: 1.5px solid var(--color-cart-border);
  border-radius: 50%;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s ease;
  transition: all 0.4s ease;
}
@media (min-width: 0) and (max-width: 350px) {
  .inpage-header .btn_search,
  .inpage-header .btn_cart,
  .inpage-header .btn_login {
    margin-left: 0;
  }
}
@media (min-width: 740px) {
  .inpage-header .btn_search,
  .inpage-header .btn_cart,
  .inpage-header .btn_login {
    margin-left: 15px;
  }
}
@media (min-width: 1500px) {
  .inpage-header .btn_search,
  .inpage-header .btn_cart,
  .inpage-header .btn_login {
    margin-left: 15px;
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 1800px) {
  .inpage-header .btn_search,
  .inpage-header .btn_cart,
  .inpage-header .btn_login {
    margin-left: 20px;
  }
}
@media (min-width: 1100px) {
  .inpage-header .btn_search:hover,
  .inpage-header .btn_cart:hover,
  .inpage-header .btn_login:hover {
    border-color: var(--color-main);
  }
}
.inpage-header .btn_search i,
.inpage-header .btn_cart i,
.inpage-header .btn_login i {
  display: block;
  width: 50%;
  height: 50%;
}
.inpage-header .btn_search i::after,
.inpage-header .btn_cart i::after,
.inpage-header .btn_login i::after {
  display: block !important;
  width: 100%;
  height: 100%;
}
.inpage-header .btn_search {
  border: none;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .btn_search {
    transition-delay: 0s;
  }
}
@media (min-width: 0) and (max-width: 575px) {
  .inpage-header .btn_search {
    margin-left: 0;
  }
}
.inpage-header .btn_search i {
  opacity: 0.3;
  transition: all 0.35s ease;
}
.inpage-header .btn_search i:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.inpage-header .btn_search:hover,
.inpage-header .btn_search:active {
  transform: scale(1);
}
.inpage-header .btn_search:hover i,
.inpage-header .btn_search:active i {
  opacity: 0.6;
}
.inpage-header .btn_cart i::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.inpage-header .btn_cart .shopnum {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  right: 0;
  top: 0;
  line-height: 0.9em;
  font-size: 11px;
  width: 24px;
  height: 24px;
  background-color: var(--color-main);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translate(35%, -35%) scale(0.8);
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .btn_cart {
    transition-delay: 0.1s;
    margin-left: 8px;
  }
}
@media (min-width: 1100px) {
  .inpage-header .btn_cart:hover i::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
}
.inpage-header .btn_login i::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .btn_login {
    transition-delay: 0.05s;
    border: none !important;
  }
}
@media (min-width: 0) and (max-width: 575px) {
  .inpage-header .btn_login {
    margin-left: 0;
  }
}
@media (min-width: 1100px) {
  .inpage-header .btn_login:hover i::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .nav-open .inpage-header .btn_search,
  .nav-open .inpage-header .btn_cart,
  .nav-open .inpage-header .btn_login {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.inpage-header .top_block .lang,
.lang {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .top_block .lang,
  .lang {
    width: 100%;
  }
}
@media (min-width: 740px) {
  .inpage-header .top_block .lang,
  .lang {
    height: var(--height-nav-md);
  }
}
@media (min-width: 1100px) {
  .inpage-header .top_block .lang,
  .lang {
    margin-left: 1vw;
  }
}
.inpage-header .top_block .lang .lang-toggle,
.lang .lang-toggle {
  font-weight: bold;
  font-size: 16px;
  display: block;
  line-height: 40px;
  padding-right: 2em;
  position: relative;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
@media (min-width: 1100px) {
  .inpage-header .top_block .lang .lang-toggle,
  .lang .lang-toggle {
    font-size: 15px;
    transition: all 0.35s ease;
  }
}
@media (min-width: 1100px) and (max-width: 1499px) {
  .inpage-header .top_block .lang .lang-toggle,
  .lang .lang-toggle {
    padding-right: 1em;
    width: 100px;
  }
  .inpage-header .top_block .lang .lang-toggle span,
  .lang .lang-toggle span {
    display: none !important;
  }
}
@media (min-width: 1500px) {
  .inpage-header .top_block .lang .lang-toggle,
  .lang .lang-toggle {
    font-size: 17px;
  }
}
@media (min-width: 1800px) {
  .inpage-header .top_block .lang .lang-toggle,
  .lang .lang-toggle {
    width: 150px;
    font-size: 20px;
  }
}
.inpage-header .top_block .lang .lang-toggle span,
.lang .lang-toggle span {
  display: inline-block;
}
.inpage-header .top_block .lang .lang-toggle:after,
.lang .lang-toggle:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid var(--color-text);
  position: absolute;
  left: 0;
  bottom: 0;
}
.inpage-header .top_block .lang .lang-toggle:before,
.lang .lang-toggle:before {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0.75em;
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../../images/new/layout/inpage_iconset.svg");
  background-size: auto 100%;
  background-position: 46.94% 0;
  transform: rotate(90deg);
}
.inpage-header .top_block .lang .lang-dropmenu,
.lang .lang-dropmenu {
  border: 1px solid var(--color-border);
  position: absolute;
  width: 100%;
  min-width: 120px;
  background-color: #fff;
  top: 75%;
  left: 0;
  transform: translateY(30px);
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .top_block .lang .lang-dropmenu,
  .lang .lang-dropmenu {
    width: calc(100% - var(--pd-inside-xs) - var(--pd-inside-xs));
    margin-left: var(--pd-inside-xs);
    margin-bottom: 50px;
  }
  .inpage-header .top_block .lang .lang-dropmenu a,
  .lang .lang-dropmenu a {
    border: none;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .lang .lang-dropmenu.inline {
    width: 100%;
    display: flex;
    border: none;
    position: relative;
    transform: none;
    opacity: 1;
    pointer-events: auto;
  }
  .lang .lang-dropmenu.inline a {
    padding: 0 0.5em;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    width: auto;
    flex: auto;
    color: var(--color-text);
  }
  .lang .lang-dropmenu.inline a:after {
    display: none;
  }
}
.inpage-header .top_block .lang .lang-dropmenu a,
.lang .lang-dropmenu a {
  display: block;
  padding: 0 20px;
  line-height: 40px;
  color: var(--color-text-light);
  transition: all 0.35s ease;
  font-size: 14px;
  text-align: left;
}
@media (min-width: 1800px) {
  .inpage-header .top_block .lang .lang-dropmenu a,
  .lang .lang-dropmenu a {
    padding: 0 27px;
    font-size: 16px;
    line-height: 48px;
  }
}
.inpage-header .top_block .lang .lang-dropmenu a:after,
.lang .lang-dropmenu a:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}
.lang .lang-dropmenu a:last-of-type:after {
  display: none;
}
.active.lang .lang-dropmenu {
  transform: translateY(0) !important;
  pointer-events: auto !important;
  opacity: 1 !important;
}
.inpage_nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 90;
  transition: all 0.35s ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
@media (min-width: 1100px) {
  .index .inpage_nav {
    background-color: var(--color-bg-header-index);
  }
  .index.mini-header .inpage_nav {
    background-color: var(--color-bg-header);
  }
}
.inpage_nav .has_dropmenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inpage_nav .has_dropmenu:after {
  content: "";
  display: block;
  width: calc(100% - var(--pd-inside-xs) - var(--pd-inside-xs));
  border-bottom: 1px solid var(--color-border);
  left: var(--pd-inside-xs);
  position: absolute;
  bottom: 0;
}
.inpage_nav .has_dropmenu a {
  padding-left: 0;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage_nav .has_dropmenu a {
    width: calc(100% - 50px);
    border: none !important;
  }
}
.inpage_nav .has_dropmenu .more {
  display: flex;
  width: 50px;
  height: 50px;
  background: none;
  transition: all 0.35s ease;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1100px) {
  .inpage_nav .has_dropmenu .more {
    width: 35px;
  }
}
.inpage_nav .has_dropmenu .more:before {
  width: 12px;
  height: 12px;
  background-size: auto 100%;
  background-position: 48.98% 0;
}
@media (min-width: 1100px) {
  .inpage_nav .has_dropmenu .more:before {
    width: 14px;
    height: 14px;
    transform: rotate(90deg);
    transition: all 0.35s ease;
  }
}
@media (min-width: 1100px) {
  .inpage_nav .has_dropmenu .more.active:before {
    transform: rotate(-90deg);
    background-size: auto 100%;
    background-position: 46.94% 0;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage_nav .has_dropmenu {
    display: block;
    padding: 0 var(--pd-inside-xs);
  }
  .inpage_nav .has_dropmenu .more {
    position: absolute;
    justify-content: flex-end;
    right: var(--pd-inside-xs);
    top: 0;
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .inpage_nav .has_dropmenu {
    padding: 0 var(--pd-inside-md);
  }
  .inpage_nav .has_dropmenu:after {
    width: calc(100% - var(--pd-inside-md) - var(--pd-inside-md));
    left: var(--pd-inside-md);
  }
  .inpage_nav .has_dropmenu .more {
    right: var(--pd-inside-md);
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage_nav {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    z-index: 90;
    padding: calc(var(--pd-inside-xs) + 20px) 0;
    position: fixed;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(-50px);
  }
  .inpage_nav a {
    display: block;
    width: 100%;
    padding: 0 var(--pd-inside-xs);
    line-height: var(--line-height-nav-xs);
    color: #000;
  }
  .inpage_nav .main_nav > a:after,
  .inpage_nav .main_nav .dropmenu .has_dropmenu > a:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
  }
  .inpage_nav .lang {
    display: flex;
    padding: var(--pd-inside-xs);
  }
  .inpage_nav .lang a {
    display: inline-block;
    border: none;
    line-height: 30px;
    padding: 0;
    text-align: center;
    border-radius: 0;
    font-size: 14px;
    border: none;
    color: var(--color-text);
  }
  .inpage_nav .lang a + a {
    border-radius: 0;
    border-left: none;
  }
  .inpage_nav .lang a:after {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .inpage_nav {
    padding: calc(var(--pd-inside-md) + 50px) 0;
  }
  .inpage_nav .lang-dropmenu {
    display: flex;
    width: calc(100% - var(--pd-inside-md) - var(--pd-inside-md));
    margin-left: var(--pd-inside-md);
    top: 85%;
  }
  .inpage_nav a {
    padding: 0 var(--pd-inside-md);
  }
  .inpage_nav .lang {
    padding: var(--pd-inside-xs) var(--pd-inside-md);
  }
  .inpage_nav .lang a {
    line-height: 50px;
  }
}
.inpage_nav .copyright {
  display: none;
  position: absolute;
  bottom: 10%;
  color: #c7c7c7;
  font-size: 14px;
}
@media (min-width: 740px) and (max-width: 1099px) {
  .inpage_nav .copyright {
    display: block;
    padding: 0 var(--pd-inside-md);
  }
}
@media (min-width: 0) and (max-width: 739px) {
  .inpage_nav .copyright {
    display: block;
    padding: 0 var(--pd-inside-xs);
  }
}
.inpage_nav .nav-copyright {
  font-size: 12px;
  line-height: 1.5em;
  width: 100%;
  padding-left: var(--pd-inside-xs);
  padding-right: var(--pd-inside-xs);
}
.inpage_nav .nav-copyright a,
.inpage_nav .nav-copyright span {
  display: block;
  padding: 0;
  line-height: 1.75em;
  border: none;
  color: #606060;
}
.inpage_nav .nav-copyright a:after,
.inpage_nav .nav-copyright span:after {
  display: none;
}
@media (min-width: 1100px) {
  .inpage_nav .nav-copyright {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .nested_nav {
    margin-left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
    top: 0;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    pointer-events: none;
    transform: translateY(50px);
  }
  .active.nested_nav {
    opacity: 1;
    pointer-events: none;
    transform: translateY(0);
  }
  .active.nested_nav > ul {
    pointer-events: auto;
  }
}
.nested_nav .hassub {
  position: relative;
}
.nested_nav .hassub .more {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1100px) {
  .nested_nav .hassub .more {
    pointer-events: none;
    width: 30px;
    justify-content: center;
    right: 1em;
  }
}
@media (min-width: 1500px) {
  .nested_nav .hassub .more {
    right: 1.5em;
  }
}
.nested_nav .hassub .more:after {
  content: "";
  width: 8px;
  height: 8px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../../images/new/layout/inpage_iconset.svg");
  background-size: auto 100%;
  background-position: 4.08% 0;
  transition: all 0.35s ease;
  transform-origin: center center;
  transform: rotate(45deg);
}
.nested_nav a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  font-weight: normal;
}
@media (min-width: 0) and (max-width: 1099px) {
  .nested_nav a {
    padding: 0 0 !important;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-subtext-xs-nav-4);
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .nested_nav a {
    padding: 0.25em 0;
  }
}
@media (min-width: 1100px) {
  .nested_nav a {
    padding: 0 1em;
    line-height: var(--height-xl-nav-2);
    color: var(--color-text-nav-nested);
    text-align: left;
    font-size: 14px;
  }
  .nested_nav a:before {
    content: "";
    display: block;
    width: calc(100% - 2em);
    left: 1em;
    bottom: 0;
    position: absolute;
    border-bottom: 1px solid var(--color-border-nav-3-sub);
    opacity: 0.3;
    transition: all 0.3s ease;
  }
  .nested_nav a.active,
  .nested_nav a:hover {
    color: var(--color-main);
  }
  .nested_nav a.active:before,
  .nested_nav a:hover:before {
    opacity: 1;
    border-color: var(--color-main);
  }
  .nested_nav a.hassub:after {
    right: 34px;
  }
}
@media (min-width: 1500px) {
  .nested_nav a {
    font-size: 15px;
    padding: 0 1.5em;
  }
  .nested_nav a:before {
    width: calc(100% - 3em);
    left: 1.5em;
  }
}
@media (min-width: 1800px) {
  .nested_nav a {
    line-height: var(--height-xxxl-nav-2);
    font-size: 16px;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .nested_nav .back {
    line-height: var(--line-height-nav-xs);
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-text);
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .nested_nav .back:before {
    content: "";
    display: inline-block;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../images/new/layout/inpage_iconset.svg");
    background-size: auto 100%;
    background-position: 48.98% 0;
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
    margin-right: 0.5em;
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .nested_nav .back {
    padding: 0.9em 0;
  }
}
@media (min-width: 1100px) {
  .nested_nav .back {
    display: none;
  }
}
.nested_nav ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 0) and (max-width: 1099px) {
  .nested_nav ul {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    pointer-events: none;
    transition: all 0.4s ease;
    padding: calc(var(--height-nav-xs) + 10px) var(--pd-inside-xs);
    top: 30px;
    left: 0;
    background-color: #fff;
  }
  .nested_nav ul.open {
    top: 0;
    display: block;
    z-index: 9999;
    position: fixed;
    pointer-events: auto !important;
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .nested_nav ul {
    padding: calc(var(--height-nav-md) + 50px) var(--pd-inside-md);
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .nested_nav ul ul {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    height: 100vh;
  }
  .nested_nav ul ul.open {
    pointer-events: auto !important;
    opacity: 1;
  }
}
.nested_nav li {
  display: block;
  padding: 0;
  line-height: 1.25em;
  position: static;
}
.nested_nav li:last-of-type > a:before {
  display: none;
}
.countdown {
  background-color: #333;
  width: 100%;
  position: fixed;
  display: none;
}
@media (min-width: 980px) {
  .countdown {
    height: var(--height-countdown-lg);
  }
}
.countdown .countdown-container {
  display: flex;
}
@media (min-width: 0) and (max-width: 979px) {
  .countdown .countdown-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 980px) {
  .countdown .countdown-container {
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
@media (min-width: 980px) {
  .countdown .announcement-date {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
.countdown .time {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 190px;
}
@media (min-width: 980px) {
  .countdown .time {
    margin-right: 1em;
  }
}
.countdown .time i {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}
.countdown .time i svg {
  display: block;
  width: 100%;
  height: auto;
}
.countdown .close-countdown {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--color-main);
  border-radius: 50%;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
}
.countdown .close-countdown:hover {
  transform: translate(50%, -50%) scale(1.25);
}
.countdown .close-countdown img,
.countdown .close-countdown svg {
  display: block;
  width: 40%;
  height: auto;
}
@media (min-width: 0) and (max-width: 979px) {
  .countdown {
    padding: 15px;
    font-size: 14px;
    bottom: 60px;
    z-index: 999;
    height: auto;
    border-radius: var(--size-radius);
    left: calc(var(--pd-inside-xs) / 2);
    width: calc(100% - var(--pd-inside-xs));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .countdown div,
  .countdown span {
    display: block;
    line-height: 1.5em;
    font-family: var(--font-family);
    font-weight: bold;
  }
  .countdown .time {
    font-size: 16px;
    padding-bottom: 0.25em;
  }
  .countdown .close-countdown {
    right: 0;
    top: 0;
  }
}
@media (min-width: 740px) and (max-width: 979px) {
  .countdown {
    left: calc(var(--pd-inside-md));
    width: calc(100% - var(--pd-inside-md) * 2);
    padding: 25px;
  }
}
@media (min-width: 980px) {
  .countdown {
    padding: 0 var(--pd-lg);
    align-items: center;
    justify-content: center;
    z-index: 99;
    top: 0;
  }
  .countdown .close-countdown {
    right: 3%;
    top: 50%;
  }
}
.inpage_lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}
.active.inpage_lightbox {
  opacity: 1;
  transition: 0.5s ease;
  pointer-events: initial;
}
.inpage_lightbox .mid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.inpage_lightbox .mid .close {
  background-size: auto 100%;
  background-position: 4.08% 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.inpage_lightbox .mid .box {
  display: flex;
  width: 70%;
  justify-content: space-between;
  position: relative;
}
.inpage_lightbox .mid .box form {
  width: 100%;
}
.inpage_lightbox .mid .box form input {
  display: block;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--color-border);
  height: 150px;
  width: 100%;
  font-size: 48px;
  padding-right: 100px;
  color: white;
  outline: none;
}
@media (min-width: 0) and (max-width: 575px) {
  .inpage_lightbox .mid .box form input {
    font-size: 18px;
    height: 75px;
    padding-right: 50px;
  }
}
@media (min-width: 576px) {
  .inpage_lightbox .mid .box form input {
    font-size: 24px;
    height: 75px;
    padding-right: 50px;
  }
}
.inpage_lightbox .mid .box form button {
  position: absolute;
  right: 25px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}
@media (min-width: 0) and (max-width: 739px) {
  .inpage_lightbox .mid .box form button {
    right: 0;
  }
}
.inpage_lightbox .mid .box form button div {
  background-size: auto 100%;
  background-position: 69.39% 0;
  width: 48px;
  height: 48px;
}
@media (min-width: 0) and (max-width: 739px) {
  .inpage_lightbox .mid .box form button div {
    background-size: auto 100%;
    background-position: 69.39% 0;
  }
}
.countdown_show .countdown {
  display: block;
}
@media (min-width: 980px) {
  .countdown_show .inpage-header {
    top: var(--height-countdown-lg);
  }
}
@media (min-width: 980px) {
  .countdown_show .inpage_main_body {
    margin-top: var(--height-countdown-lg);
  }
}
@media (min-width: 980px) {
  .countdown_show .v1,
  .countdown_show .v2 {
    top: var(--height-countdown-lg);
  }
}
@media (min-width: 1100px) {
  .countdown_show .inpage_nav.v4 .main_nav,
  .countdown_show .inpage_nav.v4 .nested_nav ul,
  .countdown_show .inpage_nav.v5 .main_nav,
  .countdown_show .inpage_nav.v5 .nested_nav ul {
    padding-top: calc(
      var(--height-nav-md) + 2.9vw + var(--height-countdown-lg)
    );
  }
}
.inpage_nav {
  font-family: var(--font-family);
}
.inpage-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header {
    z-index: 110;
    position: fixed;
  }
}
@media (min-width: 1100px) {
  .inpage-header {
    pointer-events: none;
  }
  .inpage-header .logo,
  .inpage-header .top_block {
    pointer-events: auto;
  }
}
@media (min-width: 1100px) {
  .inpage-header .logo {
    left: var(--pd-lg);
    transform: translate(0, -50%);
  }
}
.inpage-header .nav-toggle {
  width: var(--height-nav-xs);
  height: var(--height-nav-xs);
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inpage-header .nav-toggle .hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.35s ease, height 0.35s ease;
}
.inpage-header .nav-toggle .hamburger span {
  display: block;
  width: 23px;
  height: 2px;
  background-color: var(--color-text);
  margin-bottom: 8px;
  transition: all 0.35s ease;
}
.inpage-header .nav-toggle .hamburger span:nth-of-type(2) {
  width: 13px;
  background-color: var(--color-main);
  margin-left: 10px;
}
.inpage-header .nav-toggle .hamburger span:nth-of-type(3) {
  margin-bottom: 0;
}
@media (min-width: 0) and (max-width: 1099px) {
  .inpage-header .nav-toggle {
    position: absolute;
    right: 0;
    margin: 0;
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .inpage-header .nav-toggle {
    right: var(--pd-md);
  }
}
@media (min-width: 1100px) {
  .inpage-header .nav-toggle {
    display: none !important;
  }
}
@media (min-width: 1100px) {
  .inpage-header .lang {
    margin-left: 2vw !important;
  }
}
@media (min-width: 1500px) {
  .inpage-header .lang {
    margin-left: 1.5vw !important;
  }
}
@media (min-width: 740px) and (max-width: 1099px) {
  .inpage-header .btn_cart {
    margin-right: 10px;
    margin-left: 20px;
  }
}
@media (min-width: 1100px) {
  .inpage_nav .has_dropmenu:after {
    display: none;
  }
}
@media (min-width: 1100px) {
  .inpage_nav {
    height: var(--height-nav-md);
    text-align: right;
    pointer-events: none;
    padding-right: calc(260px + var(--pd-lg));
  }
  .inpage_nav .lang {
    display: none;
  }
  .inpage_nav .main_nav {
    font-size: 0;
  }
  .inpage_nav .main_nav .dropmenu,
  .inpage_nav .main_nav .has_dropmenu > a,
  .inpage_nav .main_nav > a {
    pointer-events: auto;
    display: inline-block;
    width: auto;
    line-height: var(--height-nav-md);
    font-size: clamp(16px, 1.04vw, 20px);
    font-weight: bold;
    padding: 0 1vw;
    transition: all 0.35s ease;
    position: relative;
    color: #000;
  }
  .inpage_nav .main_nav .dropmenu:after,
  .inpage_nav .main_nav .has_dropmenu > a:after,
  .inpage_nav .main_nav > a:after {
    content: "";
    display: block;
    width: 20%;
    height: 4px;
    background-color: var(--color-main);
    position: absolute;
    transition: all 0.5s ease;
    top: 68%;
    transform: scaleX(0);
    transform-origin: left top;
  }
  .inpage_nav .main_nav .dropmenu .has_dropmenu > a,
  .inpage_nav .main_nav .has_dropmenu > a .has_dropmenu > a,
  .inpage_nav .main_nav > a .has_dropmenu > a {
    padding: 0 0 0 1vw;
  }
  .inpage_nav .main_nav .dropmenu.active,
  .inpage_nav .main_nav .has_dropmenu > a.active,
  .inpage_nav .main_nav > a.active {
    position: relative;
  }
  .inpage_nav .main_nav .dropmenu.active:after,
  .inpage_nav .main_nav .has_dropmenu > a.active:after,
  .inpage_nav .main_nav > a.active:after {
    transform: scaleX(1);
  }
  .inpage_nav .main_nav .dropmenu:hover,
  .inpage_nav .main_nav .dropmenu:active,
  .inpage_nav .main_nav .has_dropmenu > a:hover,
  .inpage_nav .main_nav .has_dropmenu > a:active,
  .inpage_nav .main_nav > a:hover,
  .inpage_nav .main_nav > a:active {
    color: var(--color-main);
  }
  .inpage_nav .main_nav .dropmenu:hover:after,
  .inpage_nav .main_nav .dropmenu:active:after,
  .inpage_nav .main_nav .has_dropmenu > a:hover:after,
  .inpage_nav .main_nav .has_dropmenu > a:active:after,
  .inpage_nav .main_nav > a:hover:after,
  .inpage_nav .main_nav > a:active:after {
    transform: scaleX(1);
  }
  .inpage_nav .main_nav .dropmenu {
    padding-left: 0;
  }
  .inpage_nav .main_nav .dropmenu.active .has_dropmenu a:after {
    transform: scaleX(1);
  }
  .inpage_nav .main_nav .dropmenu:after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .inpage_nav {
    padding-right: calc(280px + var(--pd-lg));
  }
}
@media (min-width: 1380px) {
  .inpage_nav {
    padding-right: calc(320px + var(--pd-lg));
  }
}
@media (min-width: 1500px) {
  .inpage_nav {
    padding-right: calc(360px + var(--pd-xxl));
  }
  .inpage_nav .main_nav > a {
    padding: 0 1.5vw;
  }
}
@media (min-width: 1800px) {
  .inpage_nav {
    padding-right: calc(23vw + var(--pd-xxl));
  }
}
@media (min-width: 1100px) {
  .nested_nav {
    left: 1vw;
    top: var(--height-nav-md);
    position: absolute;
    opacity: 1;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .nested_nav > ul {
    border: none;
    overflow-y: auto;
  }
}
.nested_nav > ul > li {
  line-height: 1.25em;
  position: relative;
}
@media (min-width: 1100px) {
  .nested_nav > ul > li {
    position: static;
  }
}
@media (min-width: 1100px) {
  .nested_nav ul {
    background-color: #fff;
    width: 220px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(25px);
    transform: translateY(10px);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: none;
    top: 0;
    position: absolute;
    height: auto;
    visibility: hidden;
  }
  .nested_nav ul.dsk-open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    visibility: visible;
  }
}
@media (min-width: 1500px) {
  .nested_nav ul {
    width: 240px;
  }
}
@media (min-width: 1800px) {
  .nested_nav ul {
    width: 280px;
  }
}
@media (min-width: 1100px) {
  .nested_nav ul ul {
    left: 220px;
    background-color: var(--color-bg-nav-2-sub);
    position: absolute;
    top: 0;
  }
}
@media (min-width: 1500px) {
  .nested_nav ul ul {
    left: 240px;
  }
}
@media (min-width: 1800px) {
  .nested_nav ul ul {
    left: 280px;
  }
}
.nested_nav ul ul > li:last-of-type > a:before {
  display: none;
}
@media (min-width: 1100px) {
  .nested_nav ul ul ul {
    top: 0;
    left: 219px;
  }
}
@media (min-width: 1500px) {
  .nested_nav ul ul ul {
    left: 239px;
  }
}
@media (min-width: 1800px) {
  .nested_nav ul ul ul {
    left: 279px;
  }
}
@media (min-width: 1100px) {
  .nested_nav ul ul ul ul {
    top: 0;
  }
}
.v2 .nested_nav ul {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (min-width: 1100px) {
  .index.hover-header-overlay .inpage_nav {
    background-color: var(--color-bg-nav-hover-1-overlay) !important;
  }
}
@media (min-width: 1100px) {
  .mini-header .inpage_nav {
    height: var(--height-nav-mini-md);
    transition: all 0.4s ease;
    background-color: var(--color-bg-header);
  }
  .mini-header .inpage_nav .main_nav {
    height: var(--height-nav-mini-md);
  }
  .mini-header .inpage_nav .main_nav > a,
  .mini-header .inpage_nav .main_nav .dropmenu,
  .mini-header .inpage_nav .main_nav .dropmenu .has_dropmenu > a {
    line-height: var(--height-nav-mini-md);
    font-size: 15px;
  }
  .mini-header .inpage_nav .main_nav > a {
    line-height: var(--height-nav-mini-md);
    font-size: 15px;
  }
  .mini-header .inpage_nav .main_nav > a.active:after {
    top: 75%;
  }
  .mini-header .inpage_nav .nested_nav {
    top: var(--height-nav-mini-md);
  }
}
@media (min-width: 1500px) {
  .mini-header .inpage_nav {
    height: var(--height-nav-mini-xxl);
  }
  .mini-header .inpage_nav .main_nav {
    height: var(--height-nav-mini-xxl);
  }
  .mini-header .inpage_nav .main_nav > a,
  .mini-header .inpage_nav .main_nav .dropmenu,
  .mini-header .inpage_nav .main_nav .dropmenu .has_dropmenu > a {
    font-size: 16px;
    line-height: var(--height-nav-mini-xxl);
  }
  .mini-header .inpage_nav .nested_nav {
    top: var(--height-nav-mini-xxl);
  }
}
@media (min-width: 1800px) {
  .mini-header .inpage_nav .main_nav > a,
  .mini-header .inpage_nav .main_nav .dropmenu,
  .mini-header .inpage_nav .main_nav .dropmenu .has_dropmenu > a {
    font-size: 17px;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .nav-open {
    overflow: hidden;
  }
  .nav-open .hamburger span:nth-of-type(1) {
    transform: translate(0, 10px) rotate(45deg);
  }
  .nav-open .hamburger span:nth-of-type(2) {
    opacity: 0;
  }
  .nav-open .hamburger span:nth-of-type(3) {
    transform: translate(0, -10px) rotate(-45deg);
  }
}
.nav-open .inpage-header {
  background-color: transparent;
}
@media (min-width: 0) and (max-width: 739px) {
  .nav-open .inpage-header .header {
    border-bottom: 1px solid #efefef;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .nav-open .inpage_nav {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transform: translateY(0);
  }
}
/* ç™»å…¥icon */
.inpage-header .btn_login i {
  -webkit-mask: url("../../images/new/layout/icon_member.svg") no-repeat;
  -webkit-mask-size: cover;
  background-color: #d0d0d0;
}
.inpage-header .btn_login:hover i {
  background-color: var(--color-main);
}
/* è³¼ç‰©è»Šicon */
.inpage-header .btn_cart i {
  -webkit-mask: url("../../images/new/layout/icon_cart.svg") no-repeat 30%;
  -webkit-mask-size: contain;
  background-color: #d0d0d0;
}
.inpage-header .btn_cart:hover i {
  background-color: var(--color-main);
}
/* æœå°‹icon */
.inpage-header .btn_search i {
  -webkit-mask: url("../../images/new/layout/icon_search.svg") no-repeat;
  -webkit-mask-size: contain;
  background-color: #000;
}
.inpage-header .btn_search:hover i {
  background-color: #000;
}
/* æœå°‹å±•é–‹icon */
.inpage_lightbox .mid .box form button div {
  -webkit-mask: url("../../images/new/layout/icon_search2.svg") no-repeat;
  -webkit-mask-size: cover;
  background-color: #d0d0d0;
  background-size: 0;
  width: 27px;
  height: 27px;
}
/* æœå°‹xx */
.inpage_lightbox .mid .close {
  -webkit-mask: url("../../images/new/layout/icon_close.svg") no-repeat;
  -webkit-mask-size: cover;
  background-color: #d0d0d0;
  background-size: 0;
}
/* èªžç³» */
.inpage-header .top_block .lang .lang-toggle:before,
.lang .lang-toggle:before {
  -webkit-mask: url("../../images/new/layout/icon_right.svg") no-repeat;
  background-color: #000;
  height: 15px;
  background-size: 0;
  right: 3px;
}
/* é¸å–®ä¸‰è§’ */
.inpage_nav .has_dropmenu .more::before {
  -webkit-mask: url("../../images/new/layout/icon_right2.svg") no-repeat;
  background-color: #d0d0d0;
  height: 15px;
  background-size: 0;
  position: relative;
  top: 3px;
}
.inpage_nav .has_dropmenu .more.active:before {
  top: -3px;
  background-color: #000;
  background-size: 0;
}
@media (max-width: 1199px) {
  .inpage_nav .has_dropmenu .more::before {
    -webkit-mask: url("../../images/new/layout/icon_right.svg") no-repeat;
    background-color: #d0d0d0;
    height: 15px;
    background-size: 0;
  }
  .nav-open .mini-header .inpage-header .nav-toggle .hamburger span {
    border-color: var(--color-hamburger-xs-active) !important;
  }
  .inpage-header .top_block .lang .lang-toggle:before,
  .lang .lang-toggle:before {
    top: 0.75em;
  }
  .inpage-header .btn_cart i {
    background-color: var(--color-cart-border);
  }
  .inpage-header .btn_login i {
    background-color: var(--color-cart-border);
  }
  .inpage-header .btn_search i {
    opacity: 1;
    background-color: var(--color-cart-border);
  }
}
