<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'history'+config.id">
    <!-- 只能用背景色 -->
    <img class="bg" />
    <!-- 裝飾圖865*140 -->
    <img class="pic" :src="pic" />
    <div class="left">
      <div class="box">
        <div class="title">創造無限可能</div>
        <p>歷史沿革</p>
      </div>
      <div class="pagination" :class="{ active: isPaActive }"></div>

      <div class="navigation" :class="{ active: isActive }">
        <div class="item">
          <div class="button-prev btn"></div>
        </div>
        <div class="item">
          <div class="button-next btn"></div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="line"></div>
      <div v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item,index) in 3" :key="index">
            <!-- 圖片520*335 -->
            <img class="img" :src="img" />
            <div class="color"></div>
            <div class="text_item">
              <div class="text">1964</div>
              <p>
                查看所有產品的詳細信息
                <br />零件並將重組為可批量生產的狀態
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },
  data() {
    return {
      img: require('@/assets/img/history/history01_img.png'),
      pic: require('@/assets/img/history/history01_logo.png'),
      isActive: false,
      isPaActive: false,
      id: this.config.id,
      // 輪播設定
      swiperOption: {
        navigation: {
          nextEl: '#history' + this.config.id + ' .button-next',
          prevEl: '#history' + this.config.id + ' .button-prev',
          clickable: true,
        },
        pagination: {
          el: '#history' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        slidesPerView: 2,
        speed: 1000,
        // autoplay: {
        //   delay: 3000,
        // },
        breakpoints: {
          0: {
            slidesPerView: 1,
            spaceBetween: 20,
          },
          700: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1500: {
            slidesPerView: 2,
            spaceBetween: 0,
          },
        },
      },
    }
  },
  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      let win_width = window.innerWidth
      if (lengths < 3 && win_width > 700) {
        this.isActive = true
      } else if (lengths < 2 && win_width < 700) {
        this.isPaActive = true
      } else {
        this.isPaActive = false
        this.isActive = false
      }
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#history' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#history' + this.config.id + ' .left',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#history' + this.config.id + ' .right',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
        .fromTo(
          '#history' + this.config.id + ' .pic',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.5
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  height: 39.43vw;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #e4e3e3;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  .pic {
    position: absolute;
    width: 45%;
    height: 7.4vw;
    bottom: 0px;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
  }

  .left {
    width: 34.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 13.07vw 0 21.98vw 0;
    .box {
      width: 50%;
      display: flex;
      text-align: left;
      flex-direction: column;
      align-items: center;
      .title {
        position: relative;
        margin-bottom: 1.67vw;
        font-size: calc(20 / 1920 * 100vw);
        font-weight: bold;
        color: #000000;
        letter-spacing: 1px;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      p {
        margin-bottom: 4.01vw;
        font-size: calc(37 / 1920 * 100vw);
        font-weight: bold;
        color: #171716;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
  }
  .right {
    position: relative;
    width: 65.5%;
    padding: 6.5625vw 0 0 0;
    .swiper-slide {
      cursor: pointer;
    }
    // 細線
    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 1px;
      left: -3.90625vw;
      top: 18.08vw;
      background-color: #2c2c2b;
    }
    .line {
      position: absolute;
      width: 0.57vw;
      height: 0.57vw;
      left: -3.90625vw;
      top: 17.86vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2c2c2b;
      border-radius: 50%;
      &::before {
        content: '';
        position: absolute;
        width: 2.08vw;
        height: 2.08vw;
        border: 1px solid #2c2c2b;
        border-radius: 50%;
      }
    }
    .img {
      width: 27.08vw;
      height: 100%;
    }
    .color {
      position: absolute;
      width: 29.79vw;
      height: 17.45vw;
      bottom: 6.8vw;
      left: 1.5vw;
      background: #341d74;
      z-index: -1;
    }
    .text_item {
      position: relative;
      width: 100%;
      height: 100%;
      right: 5vw;
      bottom: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      .text {
        width: 50%;
        text-align: right;
        font-size: calc(92 / 1920 * 100vw);
        font-weight: 700;
        color: #171716;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      p {
        width: 50%;
        font-size: calc(19 / 1920 * 100vw);
        color: #464347;
        line-height: 2;
        text-align: right;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-break: break-all;
      }
    }
  }
  // 按鈕
  .navigation {
    position: absolute;
    display: flex;
    align-items: center;
    top: 21.45vw;
    left: 13.3vw;
    cursor: pointer;
    z-index: 2;
    &.active {
      display: none;
    }
    .line {
      position: absolute;
      width: 80%;
      height: 2px;
      left: 0;
      background: #787777;
    }
    .item {
      .btn {
        position: relative;
        -webkit-mask: url('./assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        background: #000000;
        width: 1.041vw;
        height: 1.041vw;
        pointer-events: initial;
        transition: 0.5s ease;
        cursor: pointer;
        outline: none;

        &.swiper-button-disabled {
          background: #000000;
          pointer-events: none;
          cursor: auto;
          opacity: 0.5;
        }
      }
      .button-prev {
        transform: rotate(180deg);
      }
      .button-next {
        margin-left: 3.38vw;
      }
    }
  }
  .pagination {
    display: none;
  }
}
@media (max-width: 1100px) {
  .container {
    height: 40vh;
    .left {
      padding: 17.07vw 55px 21.98vw 0;
      .box {
        .title {
          font-size: calc(20 / 1100 * 100vw);
        }
        p {
          font-size: calc(37 / 1100 * 100vw);
        }
      }
    }
    .right {
      padding: 11.5625vw 0 0 0;
      &::before {
        left: -6.00625vw;
        top: 22.28vw;
      }
      .line {
        width: 8px;
        height: 8px;
        left: -6.40625vw;
        top: 21.86vw;
        &::before {
          width: 30px;
          height: 30px;
        }
      }
      .img {
        width: 29.08vw;
      }
      .color {
        width: 29.79vw;
        bottom: 7.3vw;
      }
      .text_item {
        p {
          width: 100%;
          line-height: 1.47;
          font-size: calc(19 / 1100 * 100vw);
        }
      }
    }
    .navigation {
      top: 28.45vw;
      left: calc(10.3vw - 27.5px);
      .item {
        .btn {
          width: 2.041vw;
          height: 2.041vw;
        }
        .button-next {
          margin-left: 5.38vw;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: 450px;
    flex-direction: column;
    padding: 0 0 0 40px;
    overflow: hidden;
    .pic {
      width: 50%;
      height: 11.4vw;
      bottom: -5px;
      left: 0;
    }
    .left {
      width: 100%;
      padding: 7.07vw 40px 0 0;
      .box {
        .title {
          font-size: 14px;
        }
        p {
          font-size: 21px;
        }
      }
    }
    .right {
      width: 100%;
      padding: 4.5625vw 0 0 0;
      &::before {
        width: 100vw;
        left: -6.00625vw;
        top: 31.86vw;
      }
      .line {
        width: 8px;
        height: 8px;
        left: -6.40625vw;
        top: 30.86vw;
        &::before {
          width: 30px;
          height: 30px;
        }
      }
      .img {
        width: calc(100% - 40px);
      }
      .color {
        width: calc(100% - 40px);
        height: calc(100vw * 0.5);
        bottom: 19.3vw;
        left: 5.5vw;
      }
      .text_item {
        bottom: 6vw;
        .text {
          font-size: 50px;
        }
        p {
          width: 100%;
          line-height: 1.47;
          font-size: 14px;
        }
      }
    }
    .navigation {
      display: none;
    }
    .pagination {
      display: block;
      top: 12vh;
      &.active {
        display: none;
      }
      /deep/ .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: transparent;
        border: 1px solid #000000;
        &.swiper-pagination-bullet-active {
          background: #000000;
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 70vh;
  }
}
</style>