<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'product'+config.id">
    <!-- 只能用背景色 -->
    <div class="bg"></div>
    <div class="text_wrap">
      <div class="title">創造無限可能</div>
      <div class="text_item" href="javascript:void(0)">
        <div class="text">產品介紹</div>
        <div class="icon_item">
          <p>了解更多</p>
          <div class="icon"></div>
        </div>
      </div>
    </div>
    <div class="swiper-container swiper_wrap">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(banner,index) in 6" :key="index">
          <a class="img_wrap" href="javascript:void(0)">
            <div class="hover_item">
              <!-- 圖片450*505 -->
              <img class="img" :src="img" />
              <div class="title">
                <p>詳細內容</p>
                <div class="icon"></div>
              </div>
            </div>
            <div class="text_item">
              <div class="title">挪威弗拉姆空間</div>
              <p>室內設計，視覺展示</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper_m_wrap" v-swiper:mySwiper="swiperOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(banner,index) in 6" :key="index">
          <a class="img_wrap" href="javascript:void(0)">
            <div class="hover_item">
              <img class="img" :src="img" />
              <div class="title">
                <p>詳細內容</p>
                <div class="icon"></div>
              </div>
            </div>
            <div class="text_item">
              <div class="title">挪威弗拉姆空間</div>
              <p>室內設計，視覺展示</p>
            </div>
          </a>
        </div>
      </div>
      <div class="pagination" :class="{ active: isPaActive }"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },

  data() {
    return {
      img: require('@/assets/img/product/product01_img.png'),
      isActive: false,
      isPaActive: false,
      // 輪播設定
      swiperOption: {
        pagination: {
          el: '#product' + this.config.id + ' .pagination',
          clickable: true,
          type: 'bullets',
        },
        slidesPerView: 1,
        speed: 1000,

        // autoplay: {
        //   delay: 3000,
        // },
      },
    }
  },
  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2 ? (this.isPaActive = true) : (this.isPaActive = false)
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#product' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#product' + this.config.id + ' .text_wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.6
        )
        .fromTo(
          '#product' + this.config.id + ' .swiper-container',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.6
        )
    },
  },
  mounted() {
    this.init()
    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  height: 88.9vw;
  padding: 7.06875vw 13.28125vw 0;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    z-index: -1;
  }
  .text_wrap {
    display: flex;
    flex-direction: column;
    .title {
      width: 50%;
      font-size: calc(20 / 1920 * 100vw);
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 1.71875vw;
      line-height: 1.15;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
    .text_item {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-bottom: 2.604vw;
      .text {
        width: 50%;
        font-size: calc(36 / 1920 * 100vw);
        font-weight: bold;
        color: #ffffff;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      .icon_item {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
          font-size: calc(22 / 1920 * 100vw);
          font-weight: bold;
          color: #ffffff;
        }
        .icon {
          width: 1.09375vw;
          height: 1.09375vw;
          margin-left: 1.5625vw;
          -webkit-mask: url('@/assets/img/navigation.png') no-repeat;
          -webkit-mask-size: contain;
          background: #5334a7;
        }
      }
    }
  }

  .swiper-container {
    margin-top: 2.34375vw;
  }
  .swiper-wrapper {
    flex-wrap: wrap;
  }
  .swiper-slide {
    width: calc(100% / 3);
    padding-right: 1.5625vw;
    margin-bottom: 4.16vw;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .img_wrap {
    text-decoration: none;
    .hover_item {
      position: relative;
      width: 100%;
      height: 26.3vw;
      margin-bottom: 1.71875vw;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        .title {
          opacity: 1;
          transition: 0.5s ease;
        }
      }
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(83, 52, 167, 0.6);
        opacity: 0;
        transition: 0.5s ease;

        p {
          display: flex;
          align-items: center;
          font-size: calc(22 / 1920 * 100vw);
          font-weight: bold;
          color: #ffffff;
          &::after {
            content: '';
            display: block;
            width: calc(68 / 1920 * 100vw);
            height: calc(3 / 1920 * 100vw);
            margin-left: calc(16 / 1920 * 100vw);
            background: #ffffff;
          }
        }
        .icon {
          position: absolute;
          width: 3.02vw;
          height: 3.02vw;
          background: #ffffff;
          top: 1.77vw;
          right: 1vw;
          -webkit-mask: url('@/assets/img/product/product01_icon.png') no-repeat;
          -webkit-mask-size: contain;
          transition: 0.5s ease;
          cursor: pointer;
          outline: none;
        }
      }
    }

    .text_item {
      .title {
        margin-bottom: 0.78125vw;
        font-size: calc(22 / 1920 * 100vw);
        font-weight: 700;
        color: #ffffff;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
      p {
        font-size: calc(16 / 1920 * 100vw);
        color: #6f6f6f;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
  }
}

@media (max-width: 1500px) {
}
@media (max-width: 1100px) {
  .container {
    height: 75vh;
    padding: 7.06875vw calc(55 / 768 * 100vw) 0;
    .text_wrap {
      .title {
        font-size: calc(20 / 1100 * 100vw);
      }
      .text_item {
        margin-bottom: 2.604vw;
        .text {
          font-size: calc(36 / 1100 * 100vw);
        }
        .icon_item {
          right: 5px;
          p {
            font-size: calc(22 / 1100 * 100vw);
          }
          .icon {
            width: 2.09375vw;
            height: 2.09375vw;
            margin-left: 1.5625vw;
          }
        }
      }
    }
    .img_wrap {
      .hover_item {
        margin-bottom: 2.71875vw;
        .title {
          p {
            font-size: calc(22 / 1100 * 100vw);
            &::after {
              width: calc(68 / 1100 * 100vw);
              height: calc(3 / 1100 * 100vw);
              margin-left: calc(16 / 1100 * 100vw);
            }
          }
          .icon {
            width: 5.02vw;
            height: 5.02vw;
          }
        }
      }

      .text_item {
        .title {
          margin-bottom: 1.78125vw;
          font-size: calc(22 / 1100 * 100vw);
        }
        p {
          font-size: calc(16 / 1100 * 100vw);
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: auto;
    padding: 13.06875vw 40px 50px;
    .swiper_wrap {
      display: none;
    }
    .swiper-wrapper {
      flex-wrap: initial;
    }
    .swiper-slide {
      margin-bottom: 18.16vw;
    }
    .text_wrap {
      .title {
        font-size: 14px;
        margin-bottom: 3.71875vw;
      }
      .text_item {
        margin-bottom: 9.604vw;
        .text {
          font-size: 22px;
        }
        .icon_item {
          right: 0;
          p {
            font-size: 16px;
          }
          .icon {
            width: 15px;
            height: 15px;
            margin-left: 4.5625vw;
          }
        }
      }
    }
    .img_wrap {
      .hover_item {
        height: 100%;
        margin-bottom: 6.71875vw;
        .title {
          p {
            font-size: 18px;
            &::after {
              width: calc(68 / 700 * 100vw);
              height: calc(3 / 700 * 100vw);
              margin-left: calc(16 / 700 * 100vw);
            }
          }
          .icon {
            width: 50px;
            height: 50px;
            right: 10px;
            top: 10px;
          }
        }
      }

      .text_item {
        .title {
          margin-bottom: 2.78125vw;
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    .pagination {
      position: absolute;
      width: 100%;
      top: auto;
      bottom: 0;
      right: auto;
      display: flex;
      justify-content: center;
      &.active {
        display: none;
      }
      /deep/ .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: transparent;
        border: 1px solid #ffffff;
        &.swiper-pagination-bullet-active {
          background: #5334a7;
          border: 1px solid #5334a7;
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 100vw;
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
@media (min-width: 700px) {
  .container {
    .swiper_m_wrap {
      display: none;
    }
  }
}
</style>