<template>
  <!-- 符合所有規範 -->
  <div class="container" :id="'recommend'+config.id">
    <!-- 背景1920*820 -->
    <img class="bg" :src="img" />
    <!-- 手機背景700*1200 -->
    <img class="mobile_bg" :src="mobile_img" />
    <div class="bottom">
      <div class="text_wrap">
        <div class="text_item">
          <div class="icon"></div>
          <div class="num">64</div>
        </div>
        <p>
          成功的
          <br />項目
        </p>
      </div>
      <div class="text_wrap">
        <div class="text_item">
          <div class="icon"></div>
          <div class="num">1564</div>
        </div>
        <p>
          花了工作
          <br />時間
        </p>
      </div>
    </div>
    <div v-swiper:mySwiper="swiperOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(banner,index) in 3" :key="index">
          <div class="top">
            <div class="text_wrap left" v-if="leftItem">
              <div class="title">客戶回饋</div>
              <p>我們的客戶將我們描述為一個顧問團隊，通過打造一流的用戶體驗來創建出色的設計。</p>
            </div>
            <div class="text_wrap right" :class="{ move: isRightActive }">
              <img class="img" :src="user" v-if="imgItem" />
              <div class="text_item" :class="{ move: isTextActive }">
                <div class="title">亞歷克斯·雷格曼</div>
                <p>Colabrio聯合創始人</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" :class="{ active: isPaActive }"></div>
      <div class="navigation" :class="{ active: isActive }">
        <div class="item">
          <div class="button-prev btn"></div>
        </div>
        <div class="item">
          <div class="button-next btn"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },

  data() {
    return {
      // 背景
      img: require('@/assets/img/recommend/recommend01_bg.png'),
      // 手機背景
      mobile_img: 'https://picsum.photos/700/1200/?random=3',
      user: require('@/assets/img/recommend/recommend01_user.png'),
      isActive: false,
      isPaActive: false,
      isTextActive: false,
      isRightActive: false,
      // 人物
      imgItem: true,
      // 左邊區塊
      leftItem: true,
      // 輪播設定
      swiperOption: {
        navigation: {
          prevEl: '#recommend' + this.config.id + ' .button-prev',
          nextEl: '#recommend' + this.config.id + ' .button-next',
        },
        pagination: {
          el: '#recommend' + this.config.id + ' .pagination',
          clickable: true,
          type: 'fraction',
          renderFraction: function (currentClass, totalClass) {
            return `
						<div class="${currentClass}"></div>
						<div class="bar"></div>
						<div class="${totalClass}"></div>
						`
          },
        },

        slidesPerView: 1,
        speed: 1000,
        init: true,
        // autoplay: {
        //   delay: 3000,
        // },
      },
    }
  },
  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2
        ? ((this.isActive = true), (this.isPaActive = true))
        : ((this.isActive = false), (this.isPaActive = false))

      this.imgItem == false
        ? (this.isTextActive = true)
        : (this.isTextActive = false)

      this.leftItem == false
        ? (this.isRightActive = true)
        : (this.isRightActive = false)
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#recommend' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#recommend' + this.config.id + ' .text_wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#recommend' + this.config.id + ' .swiper-container',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()

    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  height: 42.8125vw;
  font-family: 'Montserrat', sans-serif;
  // 背景
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  // 手機背景
  .mobile_bg {
    display: none;
  }
  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    position: relative;
    cursor: pointer;
  }
  .top {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 6.25vw 1.35vw 0 58.07vw;

    display: flex;
    .text_wrap {
      &.left {
        width: 21.35vw;
        padding: 6.041vw 5.73vw 0 0;
        .title {
          font-size: calc(22 / 1920 * 100vw);
          font-weight: bold;
          color: #ffffff;
          margin-bottom: 1.04vw;
          line-height: 1.15;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-break: break-all;
        }
        p {
          font-size: calc(18 / 1920 * 100vw);
          line-height: 1.7;
          color: #a4a4a4;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
        }
      }
      &.right {
        max-width: 10vw;
        &.move {
          position: absolute;
          right: 12.4375vw;
        }
        .img {
          width: 4.792vw;
          height: 4.792vw;
          margin-bottom: 1.25vw;
        }
        .text_item {
          &.move {
            padding-top: 5.99vw;
          }
          .title {
            margin-bottom: 1.042vw;
            font-size: calc(22 / 1920 * 100vw);
            font-weight: bold;
            color: #ffffff;
            line-height: 1.15;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: break-all;
          }
          p {
            font-size: calc(18 / 1920 * 100vw);
            line-height: 1.7;
            color: #a4a4a4;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
          }
        }
      }
    }
  }
  //下面區
  .bottom {
    position: absolute;
    left: 39.39vw;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    .text_wrap {
      width: 18.91vw;
      height: 9.74vw;
      padding: 2.08vw 1.927vw 0.979vw;
      display: flex;
      flex-direction: column;
      background: #2a2730;
      &:first-child {
        background: #341d74;
      }
      .text_item {
        display: flex;
        align-items: center;
        margin-bottom: 0.729vw;
        .icon {
          width: 1.82vw;
          height: 1.82vw;
          margin-right: 0.83vw;
          background: #ffffff;
          &:first-child {
            -webkit-mask: url('@/assets/img/recommend/recommend01_icon1.png')
              no-repeat;
            -webkit-mask-size: contain;
          }
          &:nth-child(2) {
            -webkit-mask: url('@/assets/img/recommend/recommend01_icon2.png')
              no-repeat;
            -webkit-mask-size: contain;
          }
        }
        .num {
          font-size: calc(60 / 1920 * 100vw);
          font-weight: bold;
          letter-spacing: normal;
          color: #ffffff;
        }
      }
      p {
        font-size: calc(18 / 1920 * 100vw);
        letter-spacing: 0.45px;
        color: #ffffff;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
  }

  //按鈕
  .navigation {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 17.6vw;
    right: 15.9375vw;
    cursor: pointer;
    z-index: 2;
    &.active {
      display: none;
    }

    .item {
      .btn {
        position: relative;
        -webkit-mask: url('./assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        background: #ffffff;
        width: 1.041vw;
        height: 1.041vw;
        pointer-events: initial;
        transition: 0.5s ease;
        cursor: pointer;
        outline: none;

        &.swiper-button-disabled {
          background: #f6f6f6;
          pointer-events: none;
          cursor: auto;
          opacity: 0.5;
        }
      }
      .button-prev {
        transform: rotate(180deg);
      }
      .button-next {
        margin-left: 3.38vw;
      }
    }
  }
  //分頁
  .pagination {
    position: absolute;
    width: auto;
    left: 58.07vw;
    bottom: 17.6vw;
    display: flex;
    align-items: center;
    &.active {
      display: none;
    }
    /deep/ .bar {
      width: 3.8vw;
      height: 0.15615vw;
      margin: 0 0.625vw;
      background-color: #5334a7;
    }
    /deep/ .swiper-pagination-current,
    /deep/ .swiper-pagination-total {
      font-size: calc(18 / 1920 * 100vw);
      font-weight: bold;
      color: #fff;
    }
  }
}

@media (max-width: 1500px) {
  .container {
    .bottom {
      .text_wrap {
        height: 11.24vw;
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    height: 40vh;
    .top {
      padding: 5.25vw 1.35vw 0 45.07vw;

      .text_wrap {
        &.left {
          padding: 10.41vw 0 0 0;
          margin-right: 9vw;
          .title {
            font-size: calc(22 / 1100 * 100vw);
            margin-bottom: 2.04vw;
          }
          p {
            font-size: calc(18 / 1100 * 100vw);
          }
        }
        &.right {
          max-width: 16vw;
          &.move {
            right: 9.4375vw;
          }
          .img {
            width: 7.792vw;
            height: 7.792vw;
            margin-bottom: 2.25vw;
          }
          .text_item {
            &.move {
              padding-top: 10.49vw;
            }
            .title {
              margin-bottom: 2.042vw;
              font-size: calc(22 / 1100 * 100vw);
            }
            p {
              font-size: calc(18 / 1100 * 100vw);
            }
          }
        }
      }
    }
    .bottom {
      left: 21.39vw;
      .text_wrap {
        width: 23.11vw;
        height: 11.74vw;

        .text_item {
          .icon {
            width: 2.32vw;
            height: 2.32vw;
            margin-right: 0.83vw;
          }
          .num {
            font-size: calc(40 / 1100 * 100vw);
          }
        }
        p {
          font-size: calc(18 / 1100 * 100vw);
        }
      }
    }
    .pagination {
      left: 45.07vw;
    }
    .navigation {
      right: 18.2375vw;
      .item {
        .btn {
          width: 1.541vw;
          height: 1.541vw;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: 615px;
    .bg {
      display: none;
    }
    .mobile_bg {
      position: absolute;
      width: 100%;
      height: calc(100% - 100px);
      left: 0;
      top: 0;
      display: block;
      object-fit: cover;
      object-position: center;
      background: #000000;
      z-index: -1;
    }
    .top {
      padding: 80px 40px 0;
      flex-direction: column;
      .text_wrap {
        &.left {
          width: 100%;
          padding: 90px 0 0 0;
          margin-right: 9vw;
          order: 1;
          .title {
            font-size: 16px;
            margin-bottom: 14px;
          }
          p {
            width: 80%;
            font-size: 14px;
          }
        }
        &.right {
          max-width: 70%;
          &.move {
            right: auto;
          }
          .img {
            width: 58px;
            height: 58px;
            margin-bottom: 24px;
          }
          .text_item {
            .title {
              margin-bottom: 14px;
              font-size: 16px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
    .bottom {
      width: 100%;
      height: 100px;
      left: 0;
      .text_wrap {
        width: 50%;
        height: 100%;
        padding: 4.08vw 4.927vw 2.979vw;
        .text_item {
          .icon {
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
          .num {
            font-size: 32px;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
    .pagination {
      left: 40px;
      bottom: 140px;
      /deep/ .swiper-pagination-current,
      .swiper-pagination-total {
        font-size: 16px;
      }
      /deep/ .bar {
        width: 48px;
        height: 2px;
        margin: 0 10px;
      }
    }
    .navigation {
      right: 40px;
      top: 165px;
      bottom: auto;
      .item {
        &:nth-child(2) {
          margin-left: 20px;
        }
        .btn {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 70vh;
    .navigation {
      top: 33.61vw;
      right: 18.5375vw;
    }
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>