<template>
  <!-- 符合所有規範 -->
  <div class="contain" :id="'recommend'+config.id">
    <div class="left">
      <!-- 左圖size   620* 700 -->
      <div class="img_wrap">
        <img class="img" :src="img" />
      </div>
      <div class="text_wrap">
        <div class="text_item" v-for="(item ,key ) in leftText" :key="key">
          <div class="box">
            <div class="icon"></div>
            <div class="num">{{item.num}}</div>
          </div>
          <p>
            {{item.text1}}
            <br />
            {{item.text2}}
          </p>
        </div>
      </div>
    </div>
    <div v-swiper:mySwiper="swiperOption">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(banner,index) in 3" :key="index">
          <div class="box">
            <div class="block">
              <!-- 人物圖片 size   90*90 -->
              <div class="imgs">
                <img src="{acad01-template-06s-img}" alt="{acad01-template-06s-img_alt}" />
              </div>
              <div class="name">
                <div class="sub_title" style="color:{acad01-template-06s-title-color}">亞莉克絲·華森</div>
                <div class="title" style="color:{acad01-template-06s-title2-color}">TCIA 聯合創始人</div>
              </div>
              <div class="text">
                <div class="title" style="color:{acad01-template-06s-text_title-color}">客戶回饋</div>
                <div
                  class="memo"
                  style="color:{acad01-template-06s-text-color}"
                >我們的客戶將我們描述為一個顧問團隊，通過打造一流的用戶體驗來創建出色的設計。</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" :class="{ active: isPaActive }"></div>
      <div class="navigation" :class="{ active: isActive }">
        <div class="item">
          <div class="button-prev btn"></div>
        </div>
        <div class="item">
          <div class="button-next btn"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    config: {
      type: Object,
    },
  },

  data() {
    return {
      img: require('@/assets/img/recommend/recommend02_img.png'),
      // 手機背景
      mobile_img: 'https://picsum.photos/700/1200/?random=3',
      user: require('@/assets/img/recommend/recommend01_user.png'),
      leftText: [
        {
          num: 1564,
          text1: '總講座',
          text2: '時間',
        },
        {
          num: 88,
          text1: '成功的',
          text2: '媒合項目',
        },
      ],
      isActive: false,
      isPaActive: false,
      isTextActive: false,
      isRightActive: false,
      // 人物
      imgItem: true,
      // 左邊區塊
      leftItem: true,
      // 輪播設定
      swiperOption: {
        navigation: {
          prevEl: '#recommend' + this.config.id + ' .button-prev',
          nextEl: '#recommend' + this.config.id + ' .button-next',
        },
        pagination: {
          el: '#recommend' + this.config.id + ' .pagination',
          clickable: true,
          type: 'fraction',
          renderFraction: function (currentClass, totalClass) {
            return `
						<div class="${currentClass}"></div>
						<div class="bar"></div>
						<div class="${totalClass}"></div>
						`
          },
        },

        slidesPerView: 1,
        speed: 1000,
        init: true,
        // autoplay: {
        //   delay: 3000,
        // },
      },
    }
  },
  methods: {
    init() {
      let lengths = this.mySwiper.slides.length
      lengths < 2
        ? ((this.isActive = true), (this.isPaActive = true))
        : ((this.isActive = false), (this.isPaActive = false))

      this.imgItem == false
        ? (this.isTextActive = true)
        : (this.isTextActive = false)

      this.leftItem == false
        ? (this.isRightActive = true)
        : (this.isRightActive = false)
    },
    animateOnScroll() {
      const gsap = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#recommend' + this.config.id,
          toggleActions: 'restart pause restart reset',
        },
      })
      gsap
        .fromTo(
          '#recommend' + this.config.id + ' .text_wrap',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0
        )
        .fromTo(
          '#recommend' + this.config.id + ' .swiper-container',
          {
            y: 100,
            opacity: 0,
          },
          {
            y: 0,
            opacity: 1,
            ease: 'ease',
            duration: 1.2,
          },
          0.4
        )
    },
  },
  mounted() {
    this.init()

    this.animateOnScroll()
  },
}
</script>

<style lang="scss" scoped>
.contain {
  position: relative;
  width: 100%;
  height: 36.72vw;
  display: flex;
  justify-content: space-between;
  background-position: center;
  font-family: 'Heebo', sans-serif, 'MicrosoftJhengHei';
  .swiper-container {
    width: 50%;
    height: 100%;
  }
  .swiper-slide {
    position: relative;
    cursor: pointer;
  }
  .left {
    position: relative;
    width: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    .img_wrap {
      width: 65%;
      position: relative;
      overflow: hidden;
      &:hover {
        .img {
          transform: scale(1.2);
          transition: 0.5s ease;
        }
      }
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: scale(1);
        transition: 0.5s ease;
      }
    }
    .text_wrap {
      position: relative;
      width: 35%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .text_item {
      width: 100%;
      padding: 123px 72px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background: #161616;

      &:last-child {
        background: #ea260c;
      }
      .box {
        display: flex;
        align-items: center;
      }
      .icon {
        position: relative;
        width: 1.82vw;
        height: 1.82vw;
        margin-right: 0.83vw;
        background: #ffffff;
        &:first-child {
          -webkit-mask: url('@/assets/img/recommend/recommend01_icon1.png')
            no-repeat;
          -webkit-mask-size: contain;
        }
        &:nth-child(2) {
          -webkit-mask: url('@/assets/img/recommend/recommend01_icon2.png')
            no-repeat;
          -webkit-mask-size: contain;
        }
      }
      .num {
        font-size: calc(60 / 1920 * 100vw);
        font-weight: bold;
        letter-spacing: normal;
        color: #ffffff;
      }
      p {
        font-size: calc(18 / 1920 * 100vw);
        letter-spacing: 0.45px;
        color: #ffffff;
        line-height: 1.15;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
  }
  .main_slide {
    position: relative;
    width: 50%;
    padding: 50px 0 95px 16vw;
    display: flex;
    align-items: center;
  }
  //按鈕
  .navigation {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 17.6vw;
    right: 15.9375vw;
    cursor: pointer;
    z-index: 2;
    &.active {
      display: none;
    }

    .item {
      .btn {
        position: relative;
        -webkit-mask: url('./assets/img/navigation.png') no-repeat;
        -webkit-mask-size: contain;
        background: #ffffff;
        width: 1.041vw;
        height: 1.041vw;
        pointer-events: initial;
        transition: 0.5s ease;
        cursor: pointer;
        outline: none;

        &.swiper-button-disabled {
          background: #f6f6f6;
          pointer-events: none;
          cursor: auto;
          opacity: 0.5;
        }
      }
      .button-prev {
        transform: rotate(180deg);
      }
      .button-next {
        margin-left: 3.38vw;
      }
    }
  }
  //分頁
  .pagination {
    position: absolute;
    width: auto;
    left: 58.07vw;
    bottom: 17.6vw;
    display: flex;
    align-items: center;
    &.active {
      display: none;
    }
    /deep/ .bar {
      width: 3.8vw;
      height: 0.15615vw;
      margin: 0 0.625vw;
      background-color: #5334a7;
    }
    /deep/ .swiper-pagination-current,
    /deep/ .swiper-pagination-total {
      font-size: calc(18 / 1920 * 100vw);
      font-weight: bold;
      color: #fff;
    }
  }
}

@media (max-width: 1500px) {
  .container {
    .bottom {
      .text_wrap {
        height: 11.24vw;
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    height: 40vh;
    .top {
      padding: 5.25vw 1.35vw 0 45.07vw;

      .text_wrap {
        &.left {
          padding: 10.41vw 0 0 0;
          margin-right: 9vw;
          .title {
            font-size: calc(22 / 1100 * 100vw);
            margin-bottom: 2.04vw;
          }
          p {
            font-size: calc(18 / 1100 * 100vw);
          }
        }
        &.right {
          max-width: 16vw;
          &.move {
            right: 9.4375vw;
          }
          .img {
            width: 7.792vw;
            height: 7.792vw;
            margin-bottom: 2.25vw;
          }
          .text_item {
            &.move {
              padding-top: 10.49vw;
            }
            .title {
              margin-bottom: 2.042vw;
              font-size: calc(22 / 1100 * 100vw);
            }
            p {
              font-size: calc(18 / 1100 * 100vw);
            }
          }
        }
      }
    }
    .bottom {
      left: 21.39vw;
      .text_wrap {
        width: 23.11vw;
        height: 11.74vw;

        .text_item {
          .icon {
            width: 2.32vw;
            height: 2.32vw;
            margin-right: 0.83vw;
          }
          .num {
            font-size: calc(40 / 1100 * 100vw);
          }
        }
        p {
          font-size: calc(18 / 1100 * 100vw);
        }
      }
    }
    .pagination {
      left: 45.07vw;
    }
    .navigation {
      right: 18.2375vw;
      .item {
        .btn {
          width: 1.541vw;
          height: 1.541vw;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .container {
    height: 615px;
    .bg {
      display: none;
    }
    .mobile_bg {
      position: absolute;
      width: 100%;
      height: calc(100% - 100px);
      left: 0;
      top: 0;
      display: block;
      object-fit: cover;
      object-position: center;
      background: #000000;
      z-index: -1;
    }
    .top {
      padding: 80px 40px 0;
      flex-direction: column;
      .text_wrap {
        &.left {
          width: 100%;
          padding: 90px 0 0 0;
          margin-right: 9vw;
          order: 1;
          .title {
            font-size: 16px;
            margin-bottom: 14px;
          }
          p {
            width: 80%;
            font-size: 14px;
          }
        }
        &.right {
          max-width: 70%;
          &.move {
            right: auto;
          }
          .img {
            width: 58px;
            height: 58px;
            margin-bottom: 24px;
          }
          .text_item {
            .title {
              margin-bottom: 14px;
              font-size: 16px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
    .bottom {
      width: 100%;
      height: 100px;
      left: 0;
      .text_wrap {
        width: 50%;
        height: 100%;
        padding: 4.08vw 4.927vw 2.979vw;
        .text_item {
          .icon {
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
          .num {
            font-size: 32px;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
    .pagination {
      left: 40px;
      bottom: 140px;
      /deep/ .swiper-pagination-current,
      .swiper-pagination-total {
        font-size: 16px;
      }
      /deep/ .bar {
        width: 48px;
        height: 2px;
        margin: 0 10px;
      }
    }
    .navigation {
      right: 40px;
      top: 165px;
      bottom: auto;
      .item {
        &:nth-child(2) {
          margin-left: 20px;
        }
        .btn {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media (width: 1024px) and (orientation: landscape) {
  .container {
    height: 70vh;
    .navigation {
      top: 33.61vw;
      right: 18.5375vw;
    }
  }
}
@media (width: 1366px) and (orientation: landscape) {
}
</style>