<template>
  <div>
    <Comp1 v-if="config.template === 1" :config="config" />
    <Comp2 v-if="config.template === 2" :config="config" />
  </div>
</template>

<script>
import Comp1 from '/components/Scenes/style1.vue'
import Comp2 from '/components/Scenes/style2.vue'

export default {
  props: {
    config: {
      type: Object,
    },
  },
  components: {
    Comp1,
    Comp2,
  },
}
</script>